<div class="container">
 <h3>You are tweeting as <%= @user.name %></h3>
 <form id="form" method="post" action="/">
  <input type="text" id="tweet_text" placeholder="your tweet" name="tweet_text">
  <input type="submit" value="tweet">
 </form>
 <div id="success"></div>
</div>
